$font-size: 1rem;
$font-family: 'roboto', sans-serif;
$black : #333333;
$dark-black : #000000;
$font-color: $black;
$white : #ffffff;
$blue : #1184D1;
$light-blue:#00A3FF;
$dark-blue : #0777C2;
$light-orange : #EF8451;
$orange : #EA6419;
